.highlight {
	background: #88bacf !important;
}

.alert-danger,
.alert-error {
	color: #ba2737;
	background-color: #f8d7da;
	border-color: #f8d7da;
}

.nav_menu {
	background: #1e5799 !important;
}

.toggle a i {
	color: white !important;
}

.nav.side-menu > li.active > a {
	background: #666666 !important;
}

.left_col {
	background: #2b2b2b !important;
}

.nav_title {
	background: #2b2b2b !important;
}

.login_wrapper {
	max-width: 450px !important;
}

.login_content {
	background: white !important;
	border-radius: 7px !important;
}

.btn-primary {
	background: #20354a !important;
	border-color: white;
}

body {
	background: #2b2b2b !important;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/loader.gif") 50% 50% no-repeat #2b2b2b;
	opacity: 1;
}

.loader1 {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/lcargado.gif") 50% 60% no-repeat;
	opacity: 1;
}

#bloquear {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #3e4a5b;
	opacity: 0.7;
	display: none;
}

#msjsys {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

#lblmsntop {
	display: none;
	background: #eae59d;
	color: black;
	padding: 15px;
}

h1 {
	color: #1e5799 !important;
	font-weight: bold !important;
}

.btn-success,
.btn-success i {
	background: #05cc02 !important;
	border-color: #05cc02 !important;
	color: white !important;
	font-weight: bold;
}

.btn-danger {
	background: #d60b04 !important;
	border-color: #d60b04 !important;
	color: white !important;
	font-weight: bold;
}

.btn-danger .fa,
.btn-danger .fas,
.btn-danger .far {
	color: white !important;
}

.msj_formulario {
	color: #d60b04 !important;
	display: none;
}

small {
	color: #d60b04 !important;
}

.fas,
.fab,
.far,
.fa {
	color: #0fb4e7 !important;
}

label {
	color: #1e5799 !important;
	font-weight: bold;
}

h2,
.tituloSistema {
	color: #1e5799 !important;
	font-weight: bold !important;
}

input,
option {
	color: #1e5799 !important;
	font-weight: bold !important;
}

input::placeholder {
	color: #c1c1c1 !important;
	font-weight: normal !important;
}

.main_menu span.fas {
	float: right;
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
	min-width: inherit;
}

.jconfirm-box {
	background: white !important;
	color: #1e5799 !important;
}

#tblgeneral thead {
	background: #17394f !important;
	color: white;
}

#tblgeneral {
	font-size: 10px;
}

#tblgeneral tbody {
	color: #1e5799 !important;
}

#tblgeneral tbody tr .detalle {
	cursor: pointer;
}

.historial_asesores {
	font-size: 14px !important;
	font-weight: normal !important;
}

.configprospectos {
	font-size: 10px !important;
}

.listaconfig {
	background: #17394f !important;
}

.listaconfig span {
	color: white !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	cursor: pointer !important;
}

.listaconfig span:hover {
	background: #1e5799 !important;
}

#historialasesores,
#historialcomentarios {
	height: 150px !important;
	overflow-y: scroll;
}

textarea {
	border-color: #10cc2c !important;
	color: #1e5799 !important;
}

#alertacontacto {
	color: #d60b04 !important;
	font-size: 15px !important;
}

.boxing {
	border-color: #10cc2c !important;
	border-style: ridge !important;
	border-width: thin !important;
}

.textcard {
	font-weight: bold !important;
	color: #bab8b8 !important;
}

#alerta strong i {
	color: #a80603 !important;
}

#alerta {
	color: #e9edef !important;
	background-color: #ef7f80 !important;
	border-color: #ef7f80 !important;
}

.card-header {
	padding: 0px 0px 0px 0px !important;
}

.card-header p,
.btnsms {
	cursor: pointer !important;
}

.editarcorreo {
	cursor: pointer;
}

.fa-user-times,
.status_disable {
	color: red !important;
	cursor: pointer;
}
.fa-user-check,
.status_enable {
	color: green !important;
	cursor: pointer;
}

.form-check-input {
	margin-top: unset !important;
}
